/*Variables locales del documentos css*/
:root{
    --color-blanco:#FFFFFF;
    --color-primario: #f3f5fc;
    --color-letras: #0A3871;
    --fuente-inter: 'Inter', sans-serif;
    --color-btnDesencriptar: #D8DFE8;
    --color-informacion: #495057;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--color-primario);
}

.logo{
    padding-top: 15px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    justify-content: space-between;
    gap: 20px; /*SE agregaron*/
    padding: 20px; /*Se agregaron*/
    /* padding: 50px;*/
}



/*Textarea que contiene el textoa encriptar*/
.TextoEncriptado{
   background-color: var(--color-primario);
   border: none;
   font-family: var(--fuente-inter);
   font-size: 2rem;
   color: var(--color-letras);

}

::placeholder{ color: var(--color-letras);}
    .TextoEncriptado:focus {
        outline: none;
    }
   
 /*Textarea que contiene el mensaje Desencriptado */

.TextoDesencriptado:focus{
    outline: none;
}
.botones{
    display: flex;
    margin-top: 18px;
    width: 688px;
    height: 67px;
}

.btn-Encriptar{
    background-color: var(--color-letras);
    border: 2px solid var(--color-letras);
    border-radius: 24px;
    color:var(--color-blanco);
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-right: 12px;
}

.btn-Desencriptar{
    background-color: var(--color-btnDesencriptar);
    border: 1px solid var(--color-letras);
    border-radius: 24px;
    color:var(--color-letras);
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-left: 12px;
}
/*Aviso de solo letras minúsculas*/
.aviso {
	display: flex;
	flex-direction: row;
	gap: 5px;
    align-items: center;
}

h6{
    color:var(--color-informacion);
    font-size: var(--fuente-inter);
    font-size: .75rem;
}

/* .btn-copiar{
    background-color: var(--color-btnDesencriptar);
    border: 1px solid var(--color-letras);
    border-radius: 24px;
    color:var(--color-letras);
    cursor: pointer;
    height: 67px;
    width: 224px;
    margin-left: 12px;
    position: absolute;
    visibility: hidden;
    text-align: center;
    line-height: 18px;
    bottom: 2;
    left: 0;
    padding: 24px;
} */

.btn-copiar {
    background-color: var(--color-btnDesencriptar);
    border: 1px solid var(--color-letras);
    border-radius: 24px;
    color: var(--color-letras);
    cursor: pointer;
    height: 67px;
    width: 224px;
    position: absolute;
    visibility: hidden; /* Cambiado para que sea visible */
    text-align: center;
    line-height: 18px;
    bottom: 70px; /* Asegúrate de tener unidades de medida */
    left: 50%; /* Centra el botón horizontalmente */
    transform: translateX(-50%); /* Ajusta para centrar correctamente */
   
}

.tarjeta1{
    width: 60%;
    padding: 50px;
}
/*En esta seccion vamos a darle estilos a la tarjeta del lado derecho*/

/* .tarjeta2{
    width: 300px; 
    height: auto; 
    background-color: var(--color-blanco);
    box-shadow: 10px 24px 32px -8px var(--color-informacion);
    border-radius: 32px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-right: 40px;
} */

.tarjeta2 {
    width: 300px;
    height: auto;
    background-color: var(--color-blanco);
    box-shadow: 10px 24px 32px -8px var(--color-informacion);
    border-radius: 32px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-right: 40px;
}

.tarjeta_contenedor{
    margin-top: 25px;
    text-align: center;
    background-color: var(--color-blanco);
}
/*Clase para editar el muñeco*/
.img-mune{
    background: var(--color-blanco);
    width: 295px;;
    height: auto;
    margin-bottom: 20px;
}
.texto_uno{
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;
    color: var(--color-informacion);
    background: var(--color-blanco);
    padding-top: 40px;
}

.texto_dos{
    font-style: normal;
    font-weight:400;
    font-size: 1rem;
    text-align: center;
    color: var(--color-informacion);
    padding-top: 10px;
}
/* Estilos para pantallas grandes de tabletas */
@media (min-width: 769px) and (max-width: 1024px) {
    main{
        display: block;
    }
    .img-mune{
        display: none;
    }
    .tarjeta2{
        width: 688px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
  }
  .tarjeta_contenedor{
    margin-top: 25px;
    display: block;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 20%;
    font-size: 1.5rem;
    background-color: var(--color-blanco);
}
.texto_uno {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 120%;
    text-align: center;
    color: var(--color-informacion);
    background: var(--color-blanco);
    padding-top: 15px;
}
.texto_dos{
    background-color: var(--color-blanco);
    font-size: .7rem;
}
.TextoDesencriptado{
    font-size: 1.4rem;
}
}

 /*Fin de estilos para tablet */
.TextoDesencriptado{
    width: auto;
    text-align: center;
    height: 485px;
    position: absolute;
    padding: 20px;
    top:0;
    left: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 36px;
    color:var(--color-informacion);
    background-color: transparent;
    border-top-right-radius:32px;
    border-top-left-radius: 32px;
    border:none;
    resize: none;
    font-family: var(--fuente-inter);
}

/*Pie de página */
.Copyright{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: var(--fuente-inter);
    font-size: 0.75rem;
    color: var(--color-letras);
}

/*Para telefonos moviles*/
@media (min-width: 350px) and (max-width: 767px) {
    main{
        display: block;
    }
    .TextoEncriptado{
        font-size: 1.3rem;
    }
    .aviso h6{
        font-size: .7rem;
    }
    .logo {
        padding-top: 15px;
        width: 18%;
        margin: 0%;
    }

    .botones{
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 20px; /* Ajusta el espacio vertical entre los botones según la imagen */
        width: auto;
        height: auto;
    }

    .img-mune{
        display: none;
    }

    .btn-Desencriptar{
        margin-left: 0px;
    }
}
